<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <title>Odín</title>
    <meta
      name="htmx-config"
      content='{
        "responseHandling":[
          {"code":"204", "swap": false},
          {"code":"[23]..", "swap": true},
          {"code":"400", "swap": true},
          {"code":"[45]..", "swap": false, "error":true},
          {"code":"...", "swap": true}
        ]
      }'
    />
  </head>

  <body>
    <a href="/">Inicia</a>
    <a href="/categories">Categorias</a>
    <hr>
    <br/>
    {{ embed }}
  </body>
</html>
